body {

    background-color: #FF6600;

    color: #8C3F00;

    font-family: "Kanit", sans-serif;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 700px;

    margin: 0;

}



button {

    background-color: #FF6F00;

    color: #8C3F00;

    font-family: "Kanit", sans-serif;

}



.passo {

    display: none;

}



.passo.ativo {

    display:block;

}



main {

    text-align: center;

    max-width: 90%;

}



img {

    max-width: 90%;

}